.container {
    max-width: 1440px;
    min-height: 75px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#app {
    background-color: #E5FF76;
}