* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1 {
  font-weight: bold;
  font-size: 101.1px;
}
h2 {
  font-size: 79.9px;
}

.container {
  max-width: 1440px;
  min-height: 75px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#app {
  background-color: #e5ff76;
}

.description {
  color: #8f8f8f;
  font-size: 19.2px;
}
