.customer-stories {
  height: 710px;
  background-color: white;
  padding-left: 146.5px;
  padding-top: 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.customer-stories_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 530px;
}

.customer-stories__small-title {
  color: #1f19e1;
  font-size: 12.9px;
  display: flex;
  margin-bottom: 16px;
  margin-right: 400px;
}

.customer-stories__title {
  font-size: 51.9px;
  color: black;
  display: flex;
}

.customer-stories__arrow-left {
  width: 160px;
  height: 160px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #8f8f8f;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-stories__arrow-right {
  width: 160px;
  height: 160px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #8f8f8f;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-stories__box-story-subtitle {
  font-size: 19.2px;
  color: black;
}

.customer-stories__boxes {
  display: flex;

  flex-direction: column;
}

.customer-stories__box-story-mercury {
  display: flex;
  justify-content: center;
}

.customer-stories__arrows {
  display: flex;
  align-self: flex-end;
}

.customer-stories__box-story {
  display: flex;
  min-width: 320px;
  min-height: 320px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #8f8f8f;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px 24px;
}

.customer-stories__box-story-subtitle-person {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.customer-stories__box-story-person {
  display: flex;
  align-items: center;
  gap: 5px;
}

.customer-stories__box-story-person-designer {
  color: #8f8f8f;
  font-size: 19.2px;
}

.customer-stories__box-mercury {
  min-width: 320px;
  min-height: 320px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #8f8f8f;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-stories__img {
  background-color: white;
}
