<section class="customer-stories">
  <div class="customer-stories_text">
    <p class="customer-stories__small-title">Customer Stories</p>
    <h2 class="customer-stories__title">
      Teams with alignment<br />
      on the latest work
    </h2>
  </div>
  <div class="customer-stories__boxes">
    <div class="customer-stories__arrows">
      <div class="customer-stories__arrow-left">
        <img
          class="customer-stories__img"
          src="../../assets/images/arrow_left.png"
          width="95"
          height="79"
        />
      </div>
      <div class="customer-stories__arrow-right">
        <img
          class="customer-stories__img"
          src="../../assets/images/arrow_right.png"
          width="95"
          height="79"
        />
      </div>
    </div>
    <div class="customer-stories__box-story-mercury">
      <div class="customer-stories__box-story">
        <div class="customer-stories__box-story-subtitle-person">
          <p class="customer-stories__box-story-subtitle">
            “Current enables our entire team to align, share work, and support
            each other using<br />
            the tools we use every day. Weekly Drops help build momentum and
            Streams<br />
            enable anyone to see what is happening elsewhere as our team and
            product scales.”
          </p>
          <div class="customer-stories__box-story-person">
            <img
              class="customer-stories__img"
              src="../../assets/images/simcoe.png"
              width="72"
              height="72"
            />
            <div>
              <p class="customer-stories__box-story-subtitle">
                Jonathan Simcoe
              </p>
              <p class="customer-stories__box-story-person-designer">
                Senior Product Designer
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-stories__box-mercury">
        <img
          class="customer-stories__img"
          src="../../assets/images/mercury.png"
          width="179"
          height="33"
        />
      </div>
    </div>
  </div>
</section>
