<section class="customer-stories">
  <p class="customer-stories-small-title">Customer Stories</p>
  <h2 class="customer-stories-title">
    Teams with alignment<br />
    on the latest work
  </h2>
  <div class="customer-stories-boxes">
    <div class="customer-stories-arrows">
      <div class="customer-stories-arrow-left">
        <img
          class="customer-stories-img"
          src="../../assets/images/arrow_left.png"
          width="95"
          height="79"
        />
      </div>
      <div class="customer-stories-arrow-right">
        <img
          class="customer-stories-img"
          src="../../assets/images/arrow_right.png"
          width="95"
          height="79"
        />
      </div>
    </div>
    <div class="customer-stories-box-story-mercury">
      <div class="customer-stories-box-story">
        <div class="customer-box-story-subtitle-person">
          <p class="customer-stories-box-story-subtitle">
            “Current enables our entire team to align, share work, and support
            each other using<br />
            the tools we use every day. Weekly Drops help build momentum and
            Streams<br />
            enable anyone to see what is happening elsewhere as our team and
            product scales.”
          </p>
          <div class="customer-stories-box-story-person">
            <img
              class="customer-stories-img"
              src="../../assets/images/simcoe.png"
              width="72"
              height="72"
            />
            <div>
              <p class="customer-stories-box-story-subtitle">Jonathan Simcoe</p>
              <p class="customer-stories-box-story-person-designer">
                Senior Product Designer
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-stories-box-mercury">
        <img
          class="customer-stories-img"
          src="../../assets/images/mercury.png"
          width="179"
          height="33"
        />
      </div>
    </div>
  </div>
</section>
