<sector class="welcome_sector">
  <div>
    <h1 class="welcome_sector_title">
      Finally, all your team’s<br />
      work in one place
    </h1>
    <p class="welcome_sector_description">
      Increase your team’s
      <span class="welcome_sector_description_bold">speed, collaboration,</span>
      and <span class="welcome_sector_description_bold">alignment</span> by
      giving everyone<br />
      an overview of the most important work happening across your company.
    </p>
  </div>
  <div class="welcome_sector_buttons_and_no_credit">
    <div class="welcome_sector_buttons">
      <button class="get_started">Get started for free</button>
      <button class="watch_video">&vrtri;Watch video</button>
    </div>
    <p class="welcome_sector_no_credit">No credit card required</p>
  </div>
</sector>
