<section class="summarized">
  <h2 class="summarized__title">
    Each week gets summarized<br />
    and shared, automatically
  </h2>
  <p class="description">
    At the end of each week, our<span class="white_text">
      AI-powered newsletter</span
    >—“The <br />Weekly Drop”—creates a summary of all the updates your<br />
    team shared in a format that’s concise and easy to consume.
  </p>
  <button class="summarized__button">
    <img class="summarized__button-icon" src="../../assets/images/play_big.png" />
    <p>Watch video</p>
  </button>
</section>
