.integrates__tittle {
  color: #ffff;
}

.integrates__subtittle {
  font-size: 19.2px;
  color: #8f8f8f;
}

.integrates {
  background-color: black;
  height: 1246.28px;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 18px;
}

.integrates__img {
  background-color: black;
  margin-top: 80px;
}
