<header class="header">
  <div class="container">
    <a class="header__logo" href="#">
      <img src="header__image/logo.svg" alt="icon logo" class="logo">
    </a>
    <div class="header__menu">
      <nav class="header__navigation">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="#">Guides</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Features</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Pricing</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Support</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Changelog</a>
          </li>
        </ul>
      </nav>
      <div class="header__vertical-line"></div>
      <div class="header__buttons">
        <a class="header__link" href="#">Sign in</a>
        <a class="header__link header__button-signup" href="#">Sign up</a>
      </div>
    </div>
  </div>
</header>

