<section class="appear">
  <img
    class="appear__pic"
    src="../../assets/images/square.png"
    width="52"
    height="52"
  />
  <h2 class="appear__title">
    Increase your team’s<br />
    visibility and alignment
  </h2>
  <div class="appear__buttons">
    <button class="appear__button-start">Start for free</button>
    <div class="appear_buttons-foot">
      <button class="appear__contact-book">
        <img
          class="appear__pic"
          src="../../assets/images/mail.png"
          width="26"
          height="20"
        />Contact us
      </button>
      <button class="appear__contact-book">
        <img
          class="appear__pic"
          src="../../assets/images/click.png"
          width="26"
          height="20"
        />Book a demo
      </button>
    </div>
  </div>
</section>
