<section>
  <p class="partners__title">YOU’RE IN GOOD COMPANY</p>
  <nav class="partners__icons">
    <ul class="partners__list">
      <li class="partners__item">
        <img src="/src/assets/images/Icon-aidn.svg" alt="Our partner is aidn" />
      </li>
      <li class="partners__item">
        <img
          src="/src/assets/images/Icon-synthesia.svg"
          alt="Our partner is synthesia"
        />
      </li>
      <li class="partners__item">
        <img
          src="/src/assets/images/Icon-zapier.svg"
          alt="Our partner is zapier"
        />
      </li>
      <li class="partners__item">
        <img
          src="/src/assets/images/Icon-mercury.svg"
          alt="Our partner is mercury"
        />
      </li>
      <li class="partners__item">
        <img
          src="/src/assets/images/Icon-lattice.svg"
          alt="Our partner is lattice"
        />
      </li>
      <li class="partners__item">
        <img
          src="/src/assets/images/Icon-cognite.svg"
          alt="Our partner is cognite"
        />
      </li>
    </ul>
  </nav>
</section>
