<section class="features">
  <div class="features__title-button">
    <div>
      <p class="features__small-title">FEATURES</p>
      <h2 class="features__title">
        Everything to collaborate<br />
        on work-in-progress
      </h2>
    </div>
    <button class="features__explore">Explore features</button>
  </div>
  <div class="features__block">
    <div class="features__block-alone">
      <p class="features__block-title">
        <img class="features__block-pic" src="../../assets/images/watch.png" />
        Weekly Reminders
      </p>
      <p class="features__subtitle">
        Establish team rituals around sharing with<br />
        automated Slack reminders.
      </p>
    </div>
    <div class="features__block-alone">
      <p class="features__block-title">
        <img
          class="features__block-pic"
          src="../../assets/images/broadcast.png"
        />
        Broadcast to Slack
      </p>
      <p class="features__subtitle">
        Broadcast updates to Slack for your cross-<br />
        functional partners to see.
      </p>
    </div>
    <div class="features__block-alone">
      <p class="features__block-title">
        <img class="features__block-pic" src="../../assets/images/lock.png" />
        Private Streams
      </p>
      <p class="features__subtitle">
        Create a private space to collaborate on<br />
        before opening it up to the entire team.
      </p>
    </div>
    <div class="features__block-alone">
      <p class="features__block-title">
        <img class="features__block-pic" src="../../assets/images/smile.png " />
        Comments, mentions, reactions
      </p>
      <p class="features__subtitle">
        All the functionalities to loop in the right<br />
        people and provide constructive feedback.
      </p>
    </div>
    <div class="features__block-alone">
      <p class="features__block-title">
        <img
          class="features__block-pic"
          src="../../assets/images/add_people.png"
        />
        Add Collaborators
      </p>
      <p class="features__subtitle">
        Help others get visibility on their work by<br />
        marking them as collaborators.
      </p>
    </div>
    <div class="features__block-alone">
      <p class="features__block-title">
        <img class="features__block-pic" src="../../assets/images/bell.png" />
        Notifications
      </p>
      <p class="features__subtitle">
        Get notified about important activity<br />
        directly in Slack, via email, or in app.
      </p>
    </div>
  </div>
</section>
