.footer {
  background-color: black;
  height: 427px;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__title {
  font-size: 15.4px;
  color: #8f8f8f;
}

.footer__subtitle {
  color: white;
  font-size: 15.4px;
  margin-top: 10px;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer__nav-social {
  text-align: right;
}

.footer__signature {
  color: #8f8f8f;
  font-size: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #282827;
  box-sizing: border-box;
}

.footer__signature-white-text {
  color: white;
}

.footer__foot-line {
  height: 10px;
  background-color: #e5ff76;
}
