<section class="footer">
  <div class="footer__nav">
    <ul>
      <p class="footer__title">Products</p>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Features </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Pricing </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Figma Plugin </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Changelog </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Support </a>
      </li>
    </ul>
    <ul class="footer__title">
      Legal
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Terms of Service </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Privacy of Policy</a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> DPA </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> SOC-2 </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Security </a>
      </li>
    </ul>
    <ul class="footer__title">
      Guides
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Current for Startups </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Current for Enterprise </a>
      </li>
      <li class="footer__subtitle">
        <a class="footer__link" href="#"> Current for Agencies</a>
      </li>
    </ul>
    <div class="footer__nav-social>">
      <ul class="footer__title">
        Social
        <li class="footer__subtitle">
          <a class="footer__link" href="#"> Twitter </a>
        </li>
        <li class="footer__subtitle">
          <a class="footer__link" href="#"> Youtube </a>
        </li>
        <li class="footer__subtitle">
          <a class="footer__link" href="#"> Discord</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__signature">
    <p>
      Designed and built by
      <span class="footer__signature-white-text"> Logic + Rhythm</span>
    </p>
    <p>Feb 10, 2024 © Current</p>
  </div>
</section>
<section class="footer__foot-line"></section>
