.conditions__button {
  width: 390px;
  height: 70px;
  display: inline-block;
  color: black;
  background-color: #e5ff76;
  user-select: none;
  border-radius: 50px;
  border: none;
  font-size: 19.5px;
}
.conditions__button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.conditions {
  background-color: black;
  height: 868px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 117px;
  justify-content: space-evenly;
}
.conditions__title {
  font-size: 80px;
  color: white;
}
.conditions__subtitle {
  color: #8f8f8f;
  font-size: 19.2px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.conditions__pic {
  background-color: black;
}
.conditions__list {
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 25px;
}
.conditions__button-soon {
  width: 49px;
  height: 22.6px;
  display: inline-block;
  color: #8f8f8f;
  background-color: #333333;
  user-select: none;
  border-radius: 50px;
  border: none;
  font-size: 13.2px;
}
