<section class="conditions">
  <img
    class="conditions__pic"
    src="../../assets/images/big_lock.png"
    width="40"
    height="40"
  />
  <h2 class="conditions__title">
    Enterprise-ready<br />
    data protection
  </h2>
  <div class="conditions__list">
    <div>
      <p class="conditions__subtitle">
        <img
          class="conditions__pic"
          src="../../assets/images/done.png"
          width="16"
          height="12"
        />
        SOC 2 Type 2 compliant
      </p>
      <p class="conditions__subtitle">
        <img
          class="conditions__pic"
          src="../../assets/images/done.png"
          width="16"
          height="12"
        />
        Enforce sign-in with SAML SSO
      </p>
      <p class="conditions__subtitle">
        <img
          class="conditions__pic"
          src="../../assets/images/done.png"
          width="16"
          height="12"
        />Encryption Key Management
        <button class="conditions__button-soon">Soon</button>
      </p>
    </div>
    <div>
      <p class="conditions__subtitle">
        <img
          class="conditions__pic"
          src="../../assets/images/done.png"
          width="16"
          height="12"
        />
        Industry standard data encryption
      </p>
      <p class="conditions__subtitle">
        <img
          class="conditions__pic"
          src="../../assets/images/done.png"
          width="16"
          height="12"
        />
        100% AWS infrastructure
      </p>
      <p class="conditions__subtitle">
        <img
          class="conditions__pic"
          src="../../assets/images/done.png"
          width="16"
          height="12"
        />
        Self-hosted buckets<button class="conditions__button-soon">Soon</button>
      </p>
    </div>
  </div>
  <button class="conditions__button">Questions? Contact us →</button>
</section>
